@using BizzBingo.Web.Areas.Wiki.Models
@using BizzBingo.Web.Models
@model DetailTermViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="row">
    <div class="span17">
        <h1>
            @Model.Title</h1>
    </div>
</div>
<div class="row">
    <div class="span11">
        <p>
            @Model.Description</p>
        <div class="span4">
            <div class="well" style="padding: 14px 19px;">
                <input id="upvote" class="btn" type="button" value="Like!" />
                <input id="downvote" class="btn" type="button" value="Don´t like!" />
            </div>
        </div>
    </div>
    <div class="span5">
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th colspan="2" style="width: 190px;">
                        <h3>
                            Stats</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Shared on
                    </td>
                    <td>
                        @Model.CreatedOn
                    </td>
                </tr>
                <tr>
                    <td>
                        Views
                    </td>
                    <td id="stateViews">
                        @Model.Views
                    </td>
                </tr>
                <tr>
                    <td>
                        Likes
                    </td>
                    <td id="stateUpvotes">
                        @Model.UpVotes
                    </td>
                </tr>
                <tr>
                    <td>
                        Don´t likes
                    </td>
                    <td id="stateDownvotes">
                        @Model.DownVotes
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span11">
        <ul class="tabs">
            <li class="active"><a href="#all">All resources</a></li>
            <li><a href="#popular">Popularity</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                @foreach (DetailResourceViewModel resource in Model.Resources)
                {
                    <div class="row">
                        <div class="span11"><h4>@resource.Title &nbsp;<small><span class="label">@resource.Votes</span></small></h4><p>@resource.Description</p></div>
                    </div>
                    <div class="row">
                        <div class="span3">
                                <div class="well" style="padding: 14px 19px;">
                                    <input id="upvote" class="btn" type="button" value="+1">
                                    <input id="downvote" class="btn" type="button" value="-1">
                                </div>
                        </div>
                        <div class="span8">
                            <a href="@resource.Url">Link</a>
                        </div>
                    </div>

                }
                <div class="row">
                    <div class="span11">
                        <legend>
                            <h3>
                                Add a new resource</h3>
                        </legend>
                        @using (Ajax.BeginForm("Resource", "Term", new AjaxOptions() { HttpMethod = "POST", OnComplete = "resourceAdded" }))
                        {
                            <fieldset>
                                @Html.Hidden("TermId", Model.Id)
                                <div class="clearfix">
                                    <label for="url">
                                        Url</label>
                                    <div class="input">
                                        <input class="xlarge" id="url" name="url" size="30" type="text">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <label for="title">
                                        Title</label>
                                    <div class="input">
                                        <input class="xlarge" id="title" name="title" size="30" type="text">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <label for="description">
                                        Description</label>
                                    <div class="input">
                                        <textarea class="xlarge" id="description" name="description" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix" id="preview">
                                </div>
                                <div class="actions">
                                    <input type="submit" class="btn primary" value="Save changes">&nbsp;
                                    <button type="reset" class="btn">
                                        Cancel</button>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="popular">
                <img src="http://www.google.com/trends/viz?q=@Url.Encode(Model.Title)&geo=all&date=all&graph=gadget&width=640&height=190&hl=en" />
                <p>
                    <a href="http://www.google.com/insights/search/#q=@Url.Encode(Model.Title)&cmpt=date">
                        Search Insight by Google</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span11">
        <h2>
            Comments
        </h2>
        @{Html.RenderAction("Render3rdPartyScripts", "Meta", new { preventFromRenderingInDevelopment = false, name = "DisqusComments", area = "" });}
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#upvote").click(function () {
                $.ajax({
                    url: '@Url.Action("Upvote")?id=@Model.Id',
                    type: 'PUT',
                    success: function (result) {
                        refreshStats(result);
                    }
                });
            });

            $("#downvote").click(function () {
                $.ajax({
                    url: '@Url.Action("Downvote")?id=@Model.Id',
                    type: 'PUT',
                    success: function (result) {
                        refreshStats(result);
                    }
                });
            });

            $("#url").blur(function () {
                $.embedly($("#url").val(), { key: Global_EmbedLy_Key, maxWidth: 640 }, function (oembed, dict) {
                    $("#title").val(oembed.title);
                    $("#description").val(oembed.description);
                    $("#preview").html(oembed.html);
                });

            });

            $('.tabs').tabs();

            $('#all').embedly({
                maxWidth: 400,
                wmode: 'transparent',
                method: 'replace',
                key: Global_EmbedLy_Key
            });
        });

        function refreshStats(result) {
            $("#stateViews").html(result.Views);
            $("#stateDownvotes").html(result.DownVotes);
            $("#stateUpvotes").html(result.UpVotes);
        }

        function resourceAdded() {
            window.location.reload();
        }
    </script>
}
