@using BizzBingo.Web.Areas.Wiki.Models
@using BizzBingo.Web.Models
@model Term
@{
    ViewBag.Title = "Why " + Model.Title + " sucks";
}
<div class="hero-unit">
    <img style="margin-left: 600px; opacity: .3; height: 190px; position: absolute;" src="@Url.Content("~/Content/Images/wtf.png")" alt="">
    <h1>
        Why @Model.Title sucks</h1>
    <p>
        ... really.
    </p>
    <p>
        <a href="@Url.Action("Detail", "Term", new { slug = Model.Slug })">← Sry, I´ll tell
            you later!</a></p>
</div>
<div class="row">
    <div class="span16">
        <div class="page-header">
            <h1>I think, that... <small>(and I try to be nice)</small></h1>
        </div>
        @using (Html.BeginForm("Reaction", "Term", FormMethod.Post)) {
            @Html.Hidden("TermId", Model.Id)
            @Html.Hidden("IsPositive", "false")
        <fieldset>
            <label for="Title">@Model.Title is</label>
            <div class="clearfix">
                <div class="input">
                    <input class="xxlarge" name="Title" placeholder="complicated" size="30" type="text">
                </div>
            </div>
            <label for="Reason">because
                </label>
            <div class="clearfix">
                <div class="input">
                    <textarea class="xxlarge" placeholder="I tried it and it didn´t work for me. GNAH!" name="Reason" rows="5"></textarea>
                </div>
            </div>
            <div class="clearfix">
                <label for="Name">And my name is
                </label>
                <div class="input">
                    <input class="xxlarge" placeholder="Anonymous" name="Name" size="30" type="text">
                </div>
            </div>
            <!-- /clearfix -->
            <div class="actions">
                <input type="submit" class="btn primary" value="Save changes">&nbsp;
                <button type="reset" class="btn">
                    Cancel</button>
            </div>
        </fieldset>
        }
    </div>
</div>
