@using BizzBingo.Web.Models.Home
@{
    ViewBag.Title = "Home Page";
}
@model IndexViewModel
           
<div class="hero-unit">
    <h1>
        Hello, Bizzer!</h1>
    <p>
        Do you speak Management? Did you hear a super cool new buzzword? Share your best
        words...</p>
    <p>
        <a class="btn primary large" data-controls-modal="modal-from-dom" data-backdrop="static">
            Share a buzzword...</a></p>
</div>
<div class="row">
    <div class="span8">
        <h2>
            Top</h2>
        @foreach (var topWords in Model.Top)
        { 
        <h3>
            @topWords.Title &nbsp; @if (topWords.UpVotes > 0) {<span class="label">@topWords.UpVotes Likes!</span>}</h3>
        <p>
            @topWords.Description</p>
        <p>
            <a class="btn" href="@Url.Action("Detail", "Term", new { area = "Wiki", slug = topWords.Slug })">View details &raquo;</a></p>
        }
    </div>
    <div class="span8">
        <h2>
            Newest</h2>
        @foreach (var newWords in Model.Newest)
        { 
        <h3>
            @newWords.Title  <small>@newWords.CreatedOn.ToShortDateString()</small></h3>
        <p>
            @newWords.Description</p>
        <p>
            <a class="btn" href="@Url.Action("Detail", "Term", new { area = "Wiki", slug = newWords.Slug })">View details &raquo;</a></p>
        }
</div>
</div>
<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>
            Share a new buzzword</h3>
    </div>
    @using (Ajax.BeginForm("Share", "Home", new AjaxOptions() { HttpMethod = "POST", OnComplete = "shareCallback" }))
    {
    <div class="modal-body">

        <fieldset>
            <div class="clearfix">
                <label for="title">
                    Buzzword</label>
                <div class="input">
                    <input class="xlarge" name="title" size="30" type="text">
                </div>
            </div>
            <!-- /clearfix -->
            <div class="clearfix">
                <label for="description">
                    Description</label>
                <div class="input">
                    <textarea class="xlarge" name="description" rows="3"></textarea>
                </div>
            </div>
            <!-- /clearfix -->
        </fieldset>
           
    </div>
    <div class="modal-footer">
        <input type="submit" id="shareButton" value="Share" class="btn primary">
    </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">

	    function shareCallback() {
	        $('#modal-from-dom').modal('hide');
	        window.location.reload();
	    }
    </script>  
}